{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<section class="mt-0 overflow-hidden vh-100 d-flex justify-content-center align-items-center p-4">
    <div class="col col-md-8 col-lg-6 col-xxl-5">
        <div class="shadow-xl p-4 p-lg-5 bg-white">
            <h1 class="text-center fw-bold mb-5 fs-2">Email đã được gửi</h1>
            <p class="text-center">
                Chúng tôi đã gửi hướng dẫn đặt lại mật khẩu đến email của bạn. 
                Vui lòng kiểm tra hộp thư đến (và thư mục spam nếu cần).
            </p>
            <p class="d-block text-center text-muted mt-4">
                <a class="text-muted" href="{% url 'userauths:sign-in' %}">Quay lại đăng nhập</a>
            </p>
        </div>
    </div>
</section>
{% endblock content %}