{% extends 'partials/base.html' %}
{% load static %}

{% block content %}
<section class="mt-0 overflow-hidden vh-100 d-flex justify-content-center align-items-center p-4">
    <div class="col col-md-8 col-lg-6 col-xxl-5">
        <div class="shadow-xl p-4 p-lg-5 bg-white">
            <h1 class="text-center fw-bold mb-5 fs-2">Đặt lại mật khẩu</h1>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="form-label" for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                    <small class="text-muted">Nhập email đã đăng ký để nhận hướng dẫn đặt lại mật khẩu.</small>
                </div>
                <button type="submit" class="btn btn-dark d-block w-100 my-4">Gửi yêu cầu</button>
            </form>
            <p class="d-block text-center text-muted">
                <a class="text-muted" href="{% url 'userauths:sign-in' %}">Quay lại đăng nhập</a>
            </p>
        </div>
    </div>
</section>
{% endblock content %}
